<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47522027497-v8nk6fevllc3c2sr3brdb34vtubm107h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47522027497-v8nk6fevllc3c2sr3brdb34vtubm107h</string>
	<key>API_KEY</key>
	<string>AIzaSyCt6zUeZ26Ghrf4vlWH47qNb5lOew3lopc</string>
	<key>GCM_SENDER_ID</key>
	<string>47522027497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosclimber.WeClimb</string>
	<key>PROJECT_ID</key>
	<string>weclimb-db3ca</string>
	<key>STORAGE_BUCKET</key>
	<string>weclimb-db3ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:47522027497:ios:f9321e062e7282f6605d78</string>
</dict>
</plist>
